# It is a sample; do not store real file in repo
# You may use this as a template for some /path/to/secrets/prod.env and then specify it as SECRETS_FILE in your ./.env.prod
SECRET_KEY=prodsecret-placeholder
